
.a-flex {
    width: 130px;
    height: 40px;
    left: 709px;
    top: 9px;
}

.d-flex {
    width: 130px;
    height: 40px;
    left: 880px;
    top: 10px;
}

.center{
    height: 100%;
    width: 100%;
}